[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awsebcli = "*"
openai = "==0.28"
python-dotenv = "*"
gunicorn = "*"
Flask = "==2.2.5"
Flask-Login = "==0.6.2"
Flask-MongoEngine = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.12"
